@import "tailwindcss";

@theme {

    --color-primary: #D8A8F4;

    /* BACKGROUND */
    --color-bg: #FFFEEB;

    /* BG-SURFACE */
    --color-bg-surface: #668696;
    
    /* BG-FILL */
    --color-bg-fill: #FFFEEB; 
    
    /* TEXT */
    --color-text-primary: #2B2B2B;
    --color-text-secondary: #FFFEEB;
    
    /* ICON */
    --color-border: #B3B2A4;
    
    /* ICON */
    --color-icon: #999999;
    --color-icon-active: #333333;

    /* FONTS */
    --font-primary: 'Arial Rounded MT Bold', system-ui, sans-serif;
    --font-secondary: "Baloo Chettan 2", system-ui, sans-serif;

    /* BUTTON COLORS */
    --color-btn-primary: #D8A8F4;
    --color-btn-primary-hover: #C589E3;
    
    --color-accent: #FF6B6B;
    --color-accent-hover: #FF5252;

    --color-nav-bg: #E8E8E8;

    --color-icon-primary: #D8A8F4;
    --color-icon-primary-hover: #717171;
    --color-icon-primary-active: #2B2B2B;
}

html, body {
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--font-primary);
    font-size: 2.1875rem;
    font-weight: 400;
    line-height: 2.1875rem;
}

p {
    /* Fliesstext */
    font-family: var(--font-secondary);
    font-size: 1.1875rem; 
    font-weight: 400;
    line-height: 1.3125rem;
}

span {
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}

.overview-label {
    font-family: var(--font-secondary);
    font-size: 1.1875rem;
    text-align: center;
    font-weight: 400;
    line-height: normal;
}