@import "tailwindcss";

@theme {

    /* BACKGROUND */
    --color-bg: #FFFEEB;

    /* BG-SURFACE */
    --color-bg-surface: #668696;
    
    /* BG-FILL */
    --color-bg-fill: #FFFEEB; 
    
    /* TEXT */
    --color-text-primary: #333333;
    --color-text-secondary: #FFFEEB;
    
    /* ICON */
    --color-border: #B3B2A4;
    
    /* ICON */
    --color-icon: #999999;
    --color-icon-active: #333333;
}

html, body {
    background-color: #FFFEEB;
    margin: 0;
    padding: 0;
}